<!DOCTYPE html>

<!-- views/users.ejs -->
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">
    <header>
        <%- include('../partials/header',{req:req}); %>
    </header>
    <main>
        <div class="row">
            <div class="col-sm-8">
                <div class="container">
                    <div class="row">


                        <div class="col-md-12">
                            <h4>Users</h4>
                            <p data-placement="top"><button class="btn btn-primary" data-title="Add" data-toggle="modal"
                                    data-target="#add">Add User</button></p>
                           
                            <div class="table-responsive">

                                <textarea style="display:none" id="currentIdSelection"></textarea>
                                <table id="mytable" class="table table-bordred table-striped">

                                    <thead>

                                        <th><input type="checkbox" id="checkall" /></th>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Address</th>
                                        <th>Email</th>
                                        <th>Contact</th>
                                        <th>Profile</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </thead>
                                    <tbody>


                                        <%if(users){ %>
                                        <%users.filter(x=>x.type=="user").map((user,index)=>  {%>


                                        <tr class="userTable" key=<%=user.id %>>
                                            <td><input type="checkbox" class="checkthis" /></td>
                                            <td>
                                                <%=user.id %>
                                            </td>
                                            <td>
                                                <%=user.fname %>
                                            </td>
                                            <td>
                                                <%=user.lname %>
                                            </td>
                                            <td>
                                                <%=user.address %>
                                            </td>
                                            <td>
                                                <%=user.email %>
                                            </td>
                                            <td>
                                                <%=user.contact %>
                                            </td>
                                            <td>
                                                <%=user.type %>
                                            </td>
                                            <td>
                                                <p data-placement="top" data-toggle="tooltip" title="Edit"><button
                                                        onclick="loadEditData(this)" class="btn btn-primary btn-xs"
                                                        data-title="Edit" data-toggle="modal" data-target="#edit"><span
                                                            class="glyphicon glyphicon-pencil"></span></button></p>
                                            </td>
                                            <td>
                                                <p data-placement="top" data-toggle="tooltip" title="Delete"><button
                                                        onclick="loadDeleteData(this)" class="btn btn-danger btn-xs"
                                                        data-title="Delete" data-toggle="modal" data-target="#delete"><span
                                                            class="glyphicon glyphicon-trash"></span></button></p>
                                            </td>
                                        </tr>
                                        <%  })}%>


                                    </tbody>

                                </table>

                                <div class="clearfix"></div>
                                <ul class="pagination pull-right">
                                    <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                                    <li class="active"><a href="#1">1</a></li>
                                    <li><a href="#2">2</a></li>
                                    <li><a href="#3">3</a></li>
                                    <li><a href="#4">4</a></li>
                                    <li><a href="#5">5</a></li>
                                    <li><a href="#6"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                                </ul>

                            </div>

                        </div>
                    </div>
                </div>


                <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"
                                        aria-hidden="true"></span></button>
                                <h4 class="modal-title custom_align" id="Heading">Edit Your Detail</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <input class="form-control " id="inputName" type="text" placeholder="first name">
                                </div>
                                <div class="form-group">
                                    <input class="form-control " type="text" id="inputLastName" placeholder="last name">
                                </div>
                                <div class="form-group">
                                    <input class="form-control " class="form-control" id="inputAddress" placeholder="city, street"></textarea>
                                </div>
                                <div class="form-group">
                                    <input class="form-control " class="form-control" id="inputemail" placeholder="email"></textarea>
                                </div>
                                <div class="form-group">
                                    <input class="form-control " class="form-control" id="inputContact" placeholder="phone number"></textarea>
                                </div>
                            </div>
                            <div class="form-group " id="inputType">
                                <label class="ddrText">stutus </label>
                                <select title="Pick a number" class="selectpicker ddr">

                                </select>

                            </div>
                        </div>
                        <div class="modal-footer ">
                            <button type="button" onclick="updateRow()" class="btn btn-warning btn-lg" style="width: 100%;"><span
                                    class="glyphicon glyphicon-ok-sign"></span> Update</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>

            <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="add" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"
                                    aria-hidden="true"></span></button>
                            <h4 class="modal-title custom_align" id="Heading">Add New User</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input class="form-control " id="AddName" type="text" placeholder="first name">
                            </div>
                            <div class="form-group">
                                <input class="form-control " type="text" id="AddLastName" placeholder="last name">
                            </div>
                            <div class="form-group">
                                <input class="form-control " class="form-control" id="AddAddress" placeholder="city, street"></textarea>
                            </div>
                            <div class="form-group">
                                <input class="form-control " class="form-control" id="Addemail" placeholder="email"></textarea>
                            </div>
                            <div class="form-group">
                                <input class="form-control " class="form-control" id="AddContact" placeholder="phone number"></textarea>
                            </div>
                            <div class="form-group">
                                <input class="form-control " class="form-control" id="AddUsername" placeholder="user name"></textarea>
                            </div>
                            <div class="form-group">
                                <input class="form-control " class="form-control" id="AddPassword" placeholder="password"></textarea>
                            </div>

                        </div>
                        <div class="form-group " id="AddType">
                            <label class="ddrText">stutus </label>
                            <select title="Pick a number" class="selectpicker ddr addDDR">
                                <option value="user">user</option>
                            </select>

                        </div>
                    </div>
                    <div class="modal-footer ">
                        <button type="button" onclick="addUser()" class="btn btn-warning btn-lg" style="width: 100%;"><span
                                class="glyphicon glyphicon-ok-sign"></span>Add</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>


        <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"
                                aria-hidden="true"></span></button>
                        <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
                    </div>
                    <div class="modal-body">

                        <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you
                            sure
                            you want to delete this Record?</div>

                    </div>
                    <div class="modal-footer ">
                        <button type="button" class="btn btn-success" onclick="deleteRow()"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        </div>

        </div>

    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
<script src="/scripts/user.js"></script>

</html>